.container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    background-color: #A6B1E1;
}

#form {
    width: 400px;
    padding: 20px;
    background-color: #F4EEFF;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
    font-size: 25px;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #424874;
    border: none;
    border-radius: 4px;
}

#form button:hover {
    background-color: #A6B1E1;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 1px solid #424874;
	border-radius: 4px;
	font-size: 14px;
    margin-bottom: 5px;
	padding: 10px;
	width: 100%;
}

.input-control label {
    margin-bottom: 5px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 10px;
    height: 13px;
}
